<div id="document" class="document main-renderer-mcl5 fontsize fontface vmargins hmargins pagesize   RND">
    <div id="CONTAINER_PARENT_0" class="topsection">
        <div id="CONTAINER_0" class="disptable">
            <div data-react-beautiful-dnd-draggable="0"
                class="sortable-item section-container SortableItem-sibling name-contact SortableItem">
                <div class="dragable-content">
                    <div class="icon-container"><a class="edit-icon fas fa-pen" href="/builder/contact/edit"></a></div>
                    <a class="editable-content" href="/builder/contact/edit">
                        <div id="SECTION_NAMEa54430e0-7947-483b-b5db-7f5d15530e4f" class="section sec-name SECTION_NAME"
                            data-section-cd="NAME">
                            <div id="PARAGRAPH_NAME_78907bab-380b-48e4-b6db-e2a3a265f865"
                                class="paragraph PARAGRAPH_NAME firstparagraph ">
                                <div class="graphic">
                                    <span class="full-name" id="SUBSTR_LNAM">B</span>
                                    <span class="text-top" id="SUBSTR_FNAM">S</span>
                                    <i class="italicTxtStyle"></i>
                                    <span class="text-btm" id="SUBSTR_LNAM">B</span>
                                </div>
                                <div class="name" dependency="FNAM|LNAM">
                                    <span class="field" id="FIELD_FNAM">Sunil </span>
                                    <span class="field" id="FIELD_LNAM">Balami</span>
                                </div>
                            </div>
                        </div>
                        <div id="SECTION_CNTC759d1928-61a7-423a-a050-dc82f700fea3" class="section sec-cntc SECTION_CNTC"
                            data-section-cd="CNTC">
                            <div id="PARAGRAPH_CNTC_cc050eb2-9663-4525-9a3d-bcadee237545"
                                class="paragraph PARAGRAPH_CNTC firstparagraph ">
                                <div class="address">
                                    <div dependency="STRT|CITY|STAT|ZIPC|CNTY|ADDR">

                                        <span class="contactDependecy" dependency="CITY"><span
                                                class="spaced field city-name" id="FIELD_CITY">STRATHFIELD</span><span
                                                class="contactSeperator">, </span></span>
                                        <span class="contactDependecy" dependency="STAT"><span class="spaced field"
                                                id="FIELD_STAT">NSW</span><span class="contactSeperator"> </span></span>
                                        <span class="contactDependecy" dependency="ZIPC"><span class="spaced field"
                                                id="FIELD_ZIPC">2135</span><span class="contactSeperator">,
                                            </span></span>


                                    </div>

                                    <span class="contactDependecy" dependency="CPHN"><span class="field"
                                            id="FIELD_CPHN">0452644312</span></span>
                                    <span class="contactDependecy" dependency="EMAI"><span class="field longEmail"
                                            id="FIELD_EMAI">SKSTHA77@GMAIL.COM</span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="CONTAINER_1"></div>
    </div>
    <div id="CONTAINER_PARENT_1">
        <div id="CONTAINER_2" class="bottom-box">
            <div data-react-beautiful-dnd-draggable="1"
                class="sortable-item section-container SortableItem-sibling SortableItem   data-SUMM">
                <div class="dragable-content">
                    <div class="icon-container"><a class="edit-icon fas fa-pen" href="/builder/summary/edit"></a><i
                            class="move-icon fas fa-sort-alt" tabindex="0" data-react-beautiful-dnd-drag-handle="1"
                            aria-roledescription="Draggable item. Press space bar to lift" draggable="false"></i><i
                            class="delete-icon fas fa-trash"></i></div><a class="editable-content"
                        href="/builder/summary/edit">
                        <div id="SECTION_SUMM48144ff3-14a0-4337-9899-1d7fcbfa8d5b" class="section SECTION_SUMM"
                            data-section-cd="SUMM">
                            <div class="heading">
                                <div class="sectiontitle" id="SECTIONNAME_SUMM">Professional Summary<span
                                        class="rename-section text-rename"> </span></div>
                            </div>
                            <div id="PARAGRAPH_SUMM_b5af71d3-0b22-42ad-a45f-3b45b98c46bb"
                                class="paragraph PARAGRAPH_SUMM firstparagraph ">
                                <div class="field singlecolumn" id="FIELD_FRFM">
                                    <p>Skilled software developer with expertise in optimizing designs for current and
                                        future demands. Effective in high-pressure environments, meeting challenging
                                        design standards and deadlines. Proficient in programming languages and design
                                        tools. Dedicated professional excelling in customer service, time management,
                                        and trend analysis. Strong troubleshooter with a track record of building
                                        successful solutions. Excellent communicator, both verbally and in writing,
                                        adept at cultivating positive relationships and exceeding goals.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div data-react-beautiful-dnd-draggable="1"
                class="sortable-item section-container SortableItem-sibling SortableItem   data-HILT">
                <div class="dragable-content">
                    <div class="icon-container"><a class="edit-icon fas fa-pen" href="/builder/skills/edit"></a><i
                            class="move-icon fas fa-sort-alt" tabindex="0" data-react-beautiful-dnd-drag-handle="1"
                            aria-roledescription="Draggable item. Press space bar to lift" draggable="false"></i><i
                            class="delete-icon fas fa-trash"></i></div><a class="editable-content"
                        href="/builder/skills/edit">
                        <div id="SECTION_HILT7aa82884-5daf-4849-88df-3a5130ba3ab5" class="section skill SECTION_HILT"
                            data-section-cd="HILT">
                            <div class="heading">
                                <div class="sectiontitle" id="SECTIONNAME_HILT">Skills<span
                                        class="rename-section text-rename"> </span></div>
                            </div>
                            <div id="PARAGRAPH_HILT_cfc0c32f-4171-4983-8398-3829c51b626e"
                                class="paragraph PARAGRAPH_HILT firstparagraph ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">Strong analytical skills&nbsp;</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_7c9dddb3-36b6-4f2e-a97f-a1a607fdd719"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">Creative thinking, UX Design</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_7a9b67c7-eeed-4e82-9744-bea6f7c9a0a1"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">RESTful APIs</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_3da52e21-2c64-4ea7-aec2-737195e2ca26"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">Troubleshooting&nbsp;</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_4cbb311f-2054-4fc2-a44d-72b1ed0e2656"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">Problem-solving</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_c2712d47-9b74-48b0-b77e-4b2297f2c0f9"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">Front-end/web support</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_600ddf57-c14f-45ad-8171-e78efabc66ef"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">Debugging proficiency</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_38552d58-9dd5-4182-91d5-219e9ed217e7"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">Conflict resolution</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_da25669f-c5aa-4389-9010-60d8cbb9caab"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">Full Software Development Lifecycle</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_08cfcd7c-3972-42a9-b00c-12dcbffdf333"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">Effective communication</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_2baaf071-5fbc-4bd3-97fe-3602682feb05"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">HTML CSS, JavaScript, Python, SQL, .Net</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_52fade8f-e5de-4725-87f1-0aeb11a4d64e"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">Library : React, Redux, Bootstrap,Material UI,
                                        Tailwind, Express, Node.JS, JSX, Angular Js, Jquery</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_02f4a28d-053d-425b-a053-cc08c0c2efa3"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">Google Cloud</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_fbae60fb-7b67-4eb4-9101-30845e5de5da"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">Shopify, WordPress,Jira</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_56e85c45-9e5f-48ed-8aa4-134830ab4f9a"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">Shopify, WordPress, cPanel</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_33680ff9-f666-465e-bb7c-f8cf1b95edba"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">Amazon Web Services, Azure</div>
                                </div>
                            </div>
                            <div id="PARAGRAPH_HILT_02995411-f949-4855-81df-38f885c4b1e0"
                                class="paragraph PARAGRAPH_HILT ">
                                <div class="singlecolumn maincolumn" dependency="FRFM">
                                    <div class="field" id="FIELD_FRFM">Application Debugging</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div data-react-beautiful-dnd-draggable="1"
                class="sortable-item section-container SortableItem-sibling SortableItem   data-EXPR">
                <div class="dragable-content">
                    <div class="icon-container"><a class="edit-icon fas fa-pen" href="/builder/work-history/edit"></a><i
                            class="move-icon fas fa-sort-alt" tabindex="0" data-react-beautiful-dnd-drag-handle="1"
                            aria-roledescription="Draggable item. Press space bar to lift" draggable="false"></i><i
                            class="delete-icon fas fa-trash"></i></div><a class="editable-content"
                        href="/builder/work-history/edit">
                        <div id="SECTION_EXPRb2ea1128-bf62-4231-9853-90d761db8887" class="section SECTION_EXPR"
                            data-section-cd="EXPR">
                            <div class="heading">
                                <div class="sectiontitle" id="SECTIONNAME_EXPR">Experience<span
                                        class="rename-section text-rename"> </span></div>
                            </div>
                            <div id="PARAGRAPH_EXPR_d83d0222-b5bb-421d-9c69-79a649a975ad"
                                class="paragraph PARAGRAPH_EXPR firstparagraph ">
                                <div class="singlecolumn">
                                    <!--<span class="paddedline dateyear" dependency="JSTD|EDDT">
                <span class="jobdates" id="FIELD_JSTD" format="%B %Y">3/2007</span><span dependency="JSTD+EDDT">-</span><span class="jobdates" id="FIELD_EDDT" format="%B %Y">8/2007</span>
                </span>-->
                                    <span class="paddedline">
                                        <span class="datesWrapper" dependency="JSTD|EDDT">
                                            <span id="FIELD_JSTD" format="%B %Y">September 2022</span><span
                                                dependency="JSTD+EDDT"> - </span><span id="FIELD_EDDT"
                                                format="%B %Y">September 2023</span>
                                        </span>
                                        <span class="jobtitle" id="FIELD_JTIT">FRONT END DEVELOPER</span>
                                        <span class="companyname" id="FIELD_COMP">Meshed Group</span><span
                                            dependency="COMP"><span dependency="JCIT|JSTA|JCNT"> | </span></span>
                                        <span id="FIELD_JCIT">Sydney</span>
                                        <span id="FIELD_JSTA"></span>
                                        <span id="FIELD_JCNT"></span>
                                    </span>
                                    <span id="FIELD_JDES">
                                        <ul>
                                            <li>Designed and developed user-facing features using React JS and Node JS
                                            </li>
                                            <li>Built reusable components and front-end libraries for future use</li>
                                            <li>Optimized components for maximum performance across a vast array of
                                                web-capable devices and browsers</li>
                                            <li>Troubleshooted and debugged web development issues and fixed bugs</li>
                                            <li>Collaborated with cross-functional teams to plan, track and deliver
                                                project milestones using Jira software</li>
                                            <li>Participated in daily stand-up meetings, sprint planning, and
                                                retrospectives to continually improve processes</li>
                                            <li>Worked with Relational databases ( MySQL ) and experienced, Server</li>
                                            <li>Provided technical support to customers, managed and resolved complex
                                                technical issues</li>
                                            <li>Utilized scripting languages: JavaScript, React, Redux to provide SaaS
                                                support</li>
                                            <li>Applied innovative approaches to software design through creative
                                                inception and planning.</li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div id="PARAGRAPH_EXPR_898b35d5-930e-4408-afda-a50a2b4d2d45"
                                class="paragraph PARAGRAPH_EXPR ">
                                <div class="singlecolumn">
                                    <!--<span class="paddedline dateyear" dependency="JSTD|EDDT">
                <span class="jobdates" id="FIELD_JSTD" format="%B %Y">3/2007</span><span dependency="JSTD+EDDT">-</span><span class="jobdates" id="FIELD_EDDT" format="%B %Y">8/2007</span>
                </span>-->
                                    <span class="paddedline">
                                        <span class="datesWrapper" dependency="JSTD|EDDT">
                                            <span id="FIELD_JSTD" format="%B %Y">June 2021</span><span
                                                dependency="JSTD+EDDT"> - </span><span id="FIELD_EDDT"
                                                format="%B %Y">October 2022</span>
                                        </span>
                                        <span class="jobtitle" id="FIELD_JTIT">WEB DEVELOPER</span>
                                        <span class="companyname" id="FIELD_COMP">Himali Craft</span><span
                                            dependency="COMP"><span dependency="JCIT|JSTA|JCNT"> | </span></span>
                                        <span id="FIELD_JCIT">Sydney</span><span dependency="JCIT+JSTA|JCNT">, </span>
                                        <span id="FIELD_JSTA">NSW</span>
                                        <span id="FIELD_JCNT"></span>
                                    </span>
                                    <span id="FIELD_JDES">
                                        <ul>
                                            <li>Tested and validated programs to enhance applications and improve
                                                performance.</li>
                                            <li>Created highly responsive and scalable E-commerce web applications for
                                                use in different industries and client environments.</li>
                                            <li>Attracted users to websites with professional, user-friendly designs and
                                                clean code for high-performance operation.</li>
                                            <li>Analyzed technical requirements to determine optimal solutions.</li>
                                            <li>Developed websites with accessibility and compatibility for different
                                                browsers.</li>
                                            <li>Managed back end server logic protocols and database connections.</li>
                                            <li>Designed, tested and debugged applications from foundation to full
                                                production.</li>
                                            <li>Coordinated concepts, libraries and style guides for development team.
                                            </li>
                                            <li>Tracked changes and merged codes from different features to manage
                                                updated versions.</li>
                                            <li>Created file back ups to local directory for recovery purposes.</li>
                                            <li>Met application goals with expert use of optimal development tools and
                                                frameworks.</li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div id="PARAGRAPH_EXPR_63df4329-6519-423a-8dbd-d6b141ba48a9"
                                class="paragraph PARAGRAPH_EXPR ">
                                <div class="singlecolumn">
                                    <!--<span class="paddedline dateyear" dependency="JSTD|EDDT">
                <span class="jobdates" id="FIELD_JSTD" format="%B %Y">3/2007</span><span dependency="JSTD+EDDT">-</span><span class="jobdates" id="FIELD_EDDT" format="%B %Y">8/2007</span>
                </span>-->
                                    <span class="paddedline">
                                        <span class="datesWrapper" dependency="JSTD|EDDT">
                                            <span id="FIELD_JSTD" format="%B %Y">June 2021</span><span
                                                dependency="JSTD+EDDT"> - </span><span id="FIELD_EDDT"
                                                format="%B %Y">Current</span>
                                        </span>
                                        <span class="jobtitle" id="FIELD_JTIT">CUSTOMER SUPPORT OFFICER</span>
                                        <span class="companyname" id="FIELD_COMP">BWS Rosehill</span><span
                                            dependency="COMP"><span dependency="JCIT|JSTA|JCNT"> | </span></span>
                                        <span id="FIELD_JCIT">Rosehill</span><span dependency="JCIT+JSTA|JCNT">, </span>
                                        <span id="FIELD_JSTA">NSW</span>
                                        <span id="FIELD_JCNT"></span>
                                    </span>
                                    <span id="FIELD_JDES">
                                        <p><br></p>
                                        <ul>
                                            <li>Updated team on relevant offerings and policy changes affecting
                                                customers or support processes.</li>
                                            <li>Helped new team members learn to navigate technical systems for
                                                ordering, account updates and other actions.</li>
                                            <li>Recommended changes to products and services to fulfill customer needs.
                                            </li>
                                            <li>Reviewed service costs with sales and reconciled pricing issues.</li>
                                            <li>Handled escalated complex or high-level issues demanding authoritative
                                                decisions or resolution.</li>
                                            <li>Conducted customer satisfaction surveys to understand areas of company
                                                services needing improvements.</li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div data-react-beautiful-dnd-draggable="1"
                class="sortable-item section-container SortableItem-sibling SortableItem   data-EDUC">
                <div class="dragable-content">
                    <div class="icon-container"><a class="edit-icon fas fa-pen"
                            href="/builder/education-overview/edit"></a><i class="move-icon fas fa-sort-alt"
                            tabindex="0" data-react-beautiful-dnd-drag-handle="1"
                            aria-roledescription="Draggable item. Press space bar to lift" draggable="false"></i><i
                            class="delete-icon fas fa-trash"></i></div><a class="editable-content"
                        href="/builder/education-overview/edit">
                        <div id="SECTION_EDUC5785f3d6-b4e6-4c13-aafc-0cdb82c8b876" class="section SECTION_EDUC"
                            data-section-cd="EDUC">
                            <div class="heading">
                                <div class="sectiontitle" id="SECTIONNAME_EDUC">Education<span
                                        class="rename-section text-rename"> </span></div>
                            </div>
                            <div id="PARAGRAPH_EDUC_38f96408-019a-4fba-a802-576b4604f1d8"
                                class="paragraph PARAGRAPH_EDUC firstparagraph ">
                                <div class="singlecolumn">
                                    <!--<span class="datesWrapper">
                    <span class="paddedline dateyear" id="FIELD_GRDT" dependency="GRDT" format="%Y">2007</span>
                </span>-->
                                    <span class="paddedline" dependency="STUY|DGRE|GRDT|GRST|GRED|GRIP|GRYR">
                                        <span class="datesWrapper" dependency="GRDT|GRST|GRED|GRIP">
                                            <span id="FIELD_GRDT" format="%B %Y">November 2021</span>
                                            <span id="FIELD_GRST" format="%B %Y"></span>

                                            <span id="FIELD_GRED" format="%B %Y"></span>
                                            <span id="FIELD_GRIP"></span>
                                        </span>

                                        <span id="FIELD_DGRE">Bachelor</span><span dependency="DGRE+STUY"> - </span>
                                        <span id="FIELD_STUY">Interactive Media, Information Technolgy</span>
                                    </span>
                                    <span class="paddedline" dependency="SCIT|SCHO|SSTA|SCNT">
                                        <span id="FIELD_SCHO">Wentworth Institute of Higher</span><span
                                            dependency="SCHO"></span>
                                        <span id="FIELD_SCIT"></span>
                                        <span id="FIELD_SSTA"></span>
                                        <span id="FIELD_SCNT"></span>
                                    </span>
                                    <span class="field" id="FIELD_FRFM"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div data-react-beautiful-dnd-draggable="1"
                class="sortable-item section-container SortableItem-sibling SortableItem   data-LNGG">
                <div class="dragable-content">
                    <div class="icon-container"><a class="edit-icon fas fa-pen" href="/builder/languages/edit"></a><i
                            class="move-icon fas fa-sort-alt" tabindex="0" data-react-beautiful-dnd-drag-handle="1"
                            aria-roledescription="Draggable item. Press space bar to lift" draggable="false"></i><i
                            class="delete-icon fas fa-trash"></i></div><a class="editable-content"
                        href="/builder/languages/edit">
                        <div id="SECTION_LNGG4bf67c7a-0f37-4eb4-b5f6-a0c674e54316"
                            class="section lang-sec infobarsec SECTION_LNGG hide-only-bar" data-section-cd="LNGG">
                            <div class="heading">
                                <div class="sectiontitle" id="SECTIONNAME_LNGG">Language<span
                                        class="rename-section text-rename"> </span></div>
                            </div>
                            <div id="PARAGRAPH_LNGG_2bd7de21-a0fb-4c7c-b0f4-3a1c80c2386f"
                                class="paragraph PARAGRAPH_LNGG firstparagraph ">
                                <div class="singlecolumn infobarpara">
                                    <div class="field">
                                        <span class="txt-bold" id="FIELD_FRFM">English</span>
                                        <span class="flt-right" id="FIELD_RATG"></span>
                                    </div>
                                    <div class="inner-lang">
                                        <div class="rating-bar" dependency="RATV">
                                            <div class="inner-rating" id="FIELD_RATV" type="width" style="width: 100%;">
                                            </div>
                                        </div>
                                        <div class="field field-ratt wrap-wrd">
                                            <span id="FIELD_RATT">Proficient (C2)</span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <span id="FIELD_ADIF"></span>
                                    </div>
                                </div>
                                <div class="singlecolumn infotilepara">
                                    <div class="field">
                                        <span class="txt-bold" id="FIELD_FRFM">Negotiated</span>
                                        <span class="flt-right" id="FIELD_RATG"></span>
                                    </div>
                                    <div class="sliced-rect" dependency="RATV">
                                        <div class="sliced-rect-tile" id="FIELD_RATV" type="slicedrect"></div>
                                    </div>
                                    <div class="field field-ratt">
                                        <span id="FIELD_RATT"></span>
                                    </div>
                                    <div class="field">
                                        <span id="FIELD_ADIF"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div data-react-beautiful-dnd-draggable="1"
                class="sortable-item section-container SortableItem-sibling SortableItem   data-OTHR">
                <div class="dragable-content">
                    <div class="icon-container"><a class="edit-icon fas fa-pen"
                            href="/builder/additional-section/edit/OTHR/8"></a><i class="move-icon fas fa-sort-alt"
                            tabindex="0" data-react-beautiful-dnd-drag-handle="1"
                            aria-roledescription="Draggable item. Press space bar to lift" draggable="false"></i><i
                            class="delete-icon fas fa-trash"></i></div><a class="editable-content"
                        href="/builder/additional-section/edit/OTHR/8">
                        <div id="SECTION_OTHR199b1385-72ae-4c0c-8ea0-e1a111be8652" class="section SECTION_OTHR"
                            data-section-cd="OTHR">
                            <div class="heading">
                                <div class="sectiontitle" id="SECTIONNAME_OTHR">Portfolio<span
                                        class="rename-section text-rename"> </span></div>
                            </div>
                            <div id="PARAGRAPH_OTHR_942ba1b7-0909-4407-84ad-36bd062f5dc9"
                                class="paragraph PARAGRAPH_OTHR firstparagraph ">
                                <div class="field singlecolumn" id="FIELD_FRFM">
                                    <p>https://sunilbalami.github.io/sunil_Portfolio/<br>
                                        https://www.himalicraft.com/</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>